
.caja{
height: 10rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.c-rojo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;

}
.c-verde{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: green;  
    border: 1px solid black; 
}
.c-disponible{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #C4C4C4;
    border: 1px solid black;
    
}
.c-seleccionado{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid black;
    
}
.pistah{
    height: 5rem;
}
.estaciones{
    width: 2rem;
    height: 50px;
    margin: 0.5rem;
    background: #C4C4C4;
    border: 1px solid black;
    cursor: pointer;

}
.estaciones:hover{
    transform: scale(1.2,1.2);
}
.procesar{
    background-color: rgb(138, 52, 218);
}