*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navegacion{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;   
   display: flex;
   justify-content: space-between;
    background: #7300E0;
}
.navegacion .menu{
  margin-right:100px ;
  margin-top: 20px;
}
.navegacion .menu a{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    padding: 15px;
    color: #E5E5E5;
    text-decoration: none;
}
.fondo{
    background: url(../picture/fondo.png);
    width: 100%;
    height: 100vh;
 background-clip: border-box;
 background-size: cover;
}
.fondo .title{
    color: #ffff;
    z-index: 1;
   left: 1110px;
    width: 450px;
    font-size: 60px;
    position: relative;
    top: 430px;

}

.fondo .btn{
    
 text-align: center;
 align-items: center;
 margin-top: 450px;  
}
.fondo .btn button{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #7300E0;
    box-sizing: border-box;
    border-radius: 100%;
}

/* nosotros */
.cantainer{
    width: 100%;
    height: 650px;    
    background: #eeeeee;

}
.cantainer .card_1{
    position: relative;
width: 993px;
height: 367px;
left: 367px;
top: 100px;
padding: 30px;
text-align: center;
align-items: center;
color: black;
background: #FFFFFF;
border-radius: 20px;
}
.conteiner2 {
    width: 100%;
    height: 400px;
    padding: 0px 40px;
    background: #eeeeee;
    display: flex;
    margin-top: -100px;
    justify-content: space-around;
}
.conteiner2 .card-child{
    width: 50%;
    text-align: center;
align-items: center;
    color: black;
    background: rgba(255, 255, 255, 0.99);
    border-radius: 20px;
    padding: 30px;
    margin: 0px 20px;
    margin-bottom: 20px;
}

/* FORM */

.form{
    width: 100%;
    height: 100vh;
    background: url(../picture/form.png);
    background-size: cover;
    display: grid;
}
.form .form_  {
    width: 600px;
    height: 700px;
    left: 515px;padding: 20px 50px;
    padding-top: 60px;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    
}
.form .form_ label, .form .form_ input{

    width: 500px;
    height: 53px;
    left: 625px;
    top: 748px;     
    border-radius: 20px;
   border: none;
   margin: 10px 0px;
}

.form .form_ label{
    font-size: 20px;
    font-weight: bold;
    color: #1a1818;
    letter-spacing: 1px;
    text-align: center;
}
.form .form_ i{
    color: #7300E0;
    font-size: 150px;
    margin-left: 180px;
}
.form .form_ .button{
    width: 500px;
    height: 63px;
    margin-top: 20px;
    border-radius: 20px;
   border: none;
   color: #FFFFFF;
   background: #7300E0;
}

/*  */
