{% load static %}
<body>
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'css/cajas.css' %}">

<div class="container">
    <form action="{% url 'pagos' %}" method="post">
        {% csrf_token %}
        
        <input type="hidden" name="sede" value="{{ id_sede }}">
        <input type="hidden" name="placa" value="{{ placa }}">
        <input type="hidden" name="fecha" value="{{ fecha }}">
        <input type="hidden" name="hora" value="{{ hora }}">
        <input type="hidden" name="reservado" value="{{ reservado }}" id="reservado">
        <input type="hidden" name="estacionamiento" value="" id="estacion">
        <table class="table site-block-order-table mb-5 mt-5 " style="width: 50%;">
                <tbody>
                    <tr>
                        <td>
                            <span>NIVEL</span>
                        </td>
                        <td>
                            <select class="form-select" name="nivel_estacionamiento" id="nivel_elegido" aria-label="Example select with button addon">
                                {% for niv in nivel %}
                                
                                <option value="{{niv.id}}">{{niv.nombre}}</option>
                                {% endfor %}
                                
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="sector">
                <div class="row">
                    <div class="col-5 border">
                    <div class="row">
                        <div class="col-5 border " > 
                            <div class="caja d-flex">
                                {% for est in estacionamiento %}
                                    {% for re in reservado %}
                            
                                        
                                    {% endfor %}
                                    <div class="estaciones" onclick="cambio({{est.id}})" id="caja{{est.id}}" >
                                    </div>


                                {% endfor %}
                                

    
                                
                            </div>
                            
                          
                        </div>
                        <div class="col-2 ">0</div>
                        <div class="col-5 border caja"> 1</div>
                    </div>
                    <div class="row">
                        <div class="col-12 pistah"> 5</div>
                    </div>
                    <div class="row">
                        <div class="col-5 border caja"> 1</div>
                        <div class="col-2 "> 0</div>
                        <div class="col-5 border caja"> 1</div>
                    </div>  
                    </div>
                    <div class="col-7 pt-4 ps-5">
                        <div class="row m-2"> <div class="c-rojo me-3"></div> Ocupado</div>
                        <div class="row m-2"><div class="c-verde me-3"></div> Sugerido</div>
                        <div class="row m-2"><div class="c-disponible me-3"></div> Disponible</div>
                        <div class="row m-2"><div class="c-seleccionado me-3"></div> Seleccionado</div>
                    </div>
                    
                </div>


                <div class="row mt-5">
                     <div class="col-5 d-flex justify-content-center">
                       <button type="submit" class="btn btn-primary border-0 btn-lg col-auto" style="background-color: #7300E0;" >Procesar</button>  
                     </div>   
                    
                </div>
            
            </div>

    </form>
    

<script src="{% static 'js/cambio_color.js' %}"></script>
</div>

</body>

