{% load static %}
<body>
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 text-center">
            <h1>RESUMEN</h1>
        </div>

        <div class="col-md-8">

            <table class="table site-block-order-table mb-5 mt-5 " >
           
                <tbody >
    
                  <tr>
                    <td>
                      <span>PLACA</span>
                    </td>
                    <td>
                        <span>M1G365</span>
                    </td>
                  </tr>
                  <tr>
                    <td><span>LUGAR</span></td>
                    <td>
                      <span>A1 </span>
                    </td>
                  </tr>
                  <tr>
                    <td><span>COSTO RESERVA</span></td>
                    <td>
                      <span>$ 1.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>FECHA</span>
                    </td>
                    <td>
                      <span>18/03/2022</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>HORA</span>
                    </td>
                    <td>
                      <span>1:00 PM</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>SEDE</span>
                    </td>
                    <td>
                      <span>PURUCHUCO</span>
                    </td>
                  </tr>
                </tbody>
      
              </table>
        </div>

        

        <div class="col-md-7">
            <div id="paypal-button-container" ></div>
        </div>
        
    </div>
</div>


<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}"></script>
<script>
    paypal.Buttons({

      // Sets up the transaction when a payment button is clicked
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '1' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
            }
          }]
        });
      },

      // Finalize the transaction after payer approval
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              //var transaction = orderData.purchase_units[0].payments.captures[0];
              //alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
              alert('Pgo realizado correctamente');
              window.location=`{% url 'inicio' %}`;

          // When ready to go live, remove the alert and show a success message within this page. For example:
          // var element = document.getElementById('paypal-button-container');
          // element.innerHTML = '';
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });

      }
    }).render('#paypal-button-container');

  </script>

</body>

