{% load static %}

<body>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
  {% include 'navbar.html' %}
  <div class="container">
    <h2 class="text-center">Reservas</h2>
    <div class="picture m-0 row justify-content-center align-items-center">
      <img src="{% static 'picture/real_plaza.jpg'%}" style="height: 60vh; width: 100vh; min-width: 300px; min-height: 150px;" />
      <div class="buttons">
        <div class="picture m-0 row justify-content-center align-items-center">
          <ul id="lista">


            <li><a href="{% url 'historial-reservas' %}">HISTORIAL DE RESERVAS</a></li>

  

            <li><a href="{% url 'reg-reserve' %}">ACCEDER</a></li>


          </ul>
          
          
        </div>
      </div>
    </div>
  </div>
</body>
