
    {% load static %}


<body>
    <link rel="stylesheet" href=" {% static 'css/StyleSedesEditarUsuario.css' %} ">
    <!-- Inicio de Cabecera -->
    {% include 'navbar.html' %}
    <section class="wrap wrap-content">
        <section id="info">
            <!-- Inicio Banner -->
            <div id="banner">
                <h1>BIENVENIDO A REAL PLAZA</h1>
            </div> 
            <DIV>
                <h3 id="gonzalito">
                    Seleccione la sede donde va a realizar su visita y poder reservar a
                </h3>

            </DIV>
            <div>  

            </div>
            <!-- Fin Banner -->
            <!-- Inicio Tarjetas -->
        <br>
            <div id="projects" style="display: flex;">
                {% for sede in sedes %}
                <article class="project" >
                    <div class="image-wrap">
                        <img src="{{ sede.Image_sede.url }}" style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">{{sede.Nombre}}</a>
                        <p>{{sede.Direccion}}</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">{{sede.Aforo_actual}}/{{sede.Aforo_total}}</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                    
                </article>
                {% endfor %}

           
            </div>
            <!-- Fin Tarjetas -->
        </section>

</body>
</html>