{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="{% static  'css/rer.css' %}">
</head>
<body>
    
    <section class="form">
        <form method="post">
            {% csrf_token %}
            
            
            <div class="form_" id="form_">
            <i class="fi fi-rr-sign-in-alt"></i><br>

            <label for="">Nombre</label><br>
            <input class="form-control" type="text" name="username"><br>
            <label for="">Email </label><br>
            <input class="form-control" type="email" name="email"><br>
            <label for="">Contraseña</label><br>
            <input class="form-control" type="password" name="password1"><br>
            <label for="">Confirmar contraseña</label><br>
            <input class="form-control" type="password" name="password2"><br>

            
            {% comment %} {{form.as_p}}  {% endcomment %}
           


            <button type="submit" class="button">REGISTRARSE</button>
        {% comment %} <div class="form_" id="form_">
        
            <i class="fi fi-rr-sign-in-alt"></i><br>

            <label for="">Nombre</label><br>
            <input type="text" name="" id=""><br>

            <label for="">Email </label><br>
            <input type="email" name="" id=""><br>

            <label for="">Contraseña</label><br>
            <input type="password" name="" id=""><br>

            <button class="button">REGISTRARSE</button>
            <a href="{% url 'inicio' %}" style=" border: none; background: none;margin-left: 200px; padding: 20px;font-size: 15px; color:blueviolet; text-decoration: underline;"> ya tengo cuenta </a>
        </div> {% endcomment %}
            <a href="{% url 'inicio' %}" style=" border: none; background: none;margin-left: 200px; padding: 20px;font-size: 15px; color:blueviolet; text-decoration: underline;"> ya tengo cuenta </a>
            </div>
    </form>
    </section>




    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>