{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static  'css/rer.css' %}">
</head>
<body>
    
    <section class="form">
        <form method="post">
            {% csrf_token %}
            
            
            <div class="form_" id="form_" style="height:80vh;">
            <i class="fi fi-rr-sign-in-alt"></i>

            <label for="" class="m-0 text-start">Nombre</label>
            <input class="form-control m-0" type="text" name="username">
            <label for="" class="m-0 text-start">Email </label>
            <input class="form-control m-0" type="email" name="email">
            <label for="" class="m-0 text-start">Contraseña</label>
            <input class="form-control m-0" type="password" name="password1">
            <label for="" class="m-0 text-start" >Confirmar contraseña</label>
            <input class="form-control m-0" type="password" name="password2">

            
            {% comment %} {{form.as_p}}  {% endcomment %}
           


            <button type="submit" class="button">REGISTRARSE</button>
        {% comment %} <div class="form_" id="form_">
        
            <i class="fi fi-rr-sign-in-alt"></i><br>

            <label for="">Nombre</label><br>
            <input type="text" name="" id=""><br>

            <label for="">Email </label><br>
            <input type="email" name="" id=""><br>

            <label for="">Contraseña</label><br>
            <input type="password" name="" id=""><br>

            <button class="button">REGISTRARSE</button>
            <a href="{% url 'inicio' %}" style=" border: none; background: none;margin-left: 200px; padding: 20px;font-size: 15px; color:blueviolet; text-decoration: underline;"> ya tengo cuenta </a>
        </div> {% endcomment %}
            
            <div class="text-center">
                <a href="{% url 'inicio' %}" > ya tengo cuenta </a>
            </div>
            
            </div>
    </form>
    </section>




    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>