<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" />
	<title>Asignar Placa</title>
    <link rel="stylesheet" type="text/css" href="css/estilosf.css">

    <div class="encabezado">
		<div id="iconorealplaza"><img src="picture/iconorealplaza.jpg"></div>
		<nav id="titulo">
			<h1>ASIGNAR PLACA</h1>
		</nav>
	</div>

    <body>

        <center>
        <form>

            <label for="sede">Sede:</label>
            <input type="text" id="sede" placeholder="Escribe la sede">

            <label for="placa">Placa:</label>
            <input type="text" id="placa" placeholder="Escribe la Placa">

            <label for="hora">Hora de Ingreso:</label>
            <input type="text" id="hora" placeholder="Escriba la hora">
            
        </form>
        
                <a href="#"><img src="picture/botonprocesar.png"></a>
                <a href="reservas.html"><img src="picture/botonvolver.png"></a>
        </center>
    </body>
</html>
