<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" />
	<title>Historial de Reserva</title>
	<link rel="stylesheet" type="text/css" href="css/estilosf.css">
	
    <div class="encabezado">
		<div id="iconorealplaza"><img src="picture/iconorealplaza.jpg"></div>
		<nav id="titulo">
			<h1>HISTORIAL DE RESERVAS</h1>
		</nav>
	</div>

    <body>

        <center>

            <div id="main-container">
                <table>
                    <thead>
                        <tr>
                            <th>Placa</th><th>Fecha</th><th>Hora de Entrada</th><th>Hora de Salida</th>
                        </tr>
                    </thead>

                    <tr>
                        <td>tgj</td><td>03-09-21</td><td>11:00</td><td>13:40</td>
                    </tr>
                    <tr>
                        <td>ads-436</td><td>16-12-21</td><td>16:00</td><td>18:50</td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                </table>
            </div>

                <a href="reservas.html"><img src="picture/botonvolver.png"></a>
        </center>
    </body>
</html>
