{% load static %}

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <nav id="header">

        <div class="wrap">
            <a id="logo" href="{% url 'inicio' %}">
                <span class="gear"></span>
            </a>
            <nav id="menu">
                <ul>
                    <li><a href="{% url 'page-reserve' %}">RESERVAS</a></li>
                    <li><a href="{% url 'sedes' %}">SEDES</a></li>
                    <li><a href="{% url 'salir' %}"><img src="{% static 'picture/salir.jpeg' %}"></a></li>
                </ul>
            </nav>
        </div>
    </nav>
