{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="{% static  'css/rer.css' %}">
    <link rel="stylesheet" href="{% static  'css/nosotros.css' %}"> 
</head>
<body>
    
    <main>
        
       
        <section class="fondo">
            <h1 class="title">MÁS EFICIENCIA  CON LOS DATOS </h1>
            <div class="btn">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </section>

    </main>

    <section id="nosotros">
        <div class="cantainer">

            <div class="card_1">
                <h3>NOSOTROA</h3><br>
                <p style="font-size: 20px; line-height: 30px;">Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque odit, impedit autem quis et nihil quisquam dolorum unde est dolorem ipsam sint sit placeat voluptate temporibus debitis totam? Ab, sed! amet consectetur adipisicing elit. Veniam sapiente totam quae laudantium quasi expedita magnam sunt voluptate libero? Minus dolor, voluptatibus necessitatibus a nulla numquam eos corporis provident exercitationem.</p>
            </div>
           
        </div>
        
   
        <div class="conteiner2">
          
                <div class="card-child">
                    <h3>NOSOTROA</h3><br>
                <p style="font-size: 20px; line-height: 30px;">Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque odit, impedit autem quis et nihil quisquam dolorum unde est dolorem ipsam sint sit placeat voluptate temporibus debitis totam? Ab, sed! amet consectetur adipisicing elit. Veniam sapiente totam quae laudantium quasi expedita magnam sunt voluptate libero? Minus dolor, voluptatibus necessitatibus a nulla numquam eos corporis provident exercitationem.</p>
                </div>
                <div class="card-child">
                    <h3>NOSOTROA</h3><br>
                <p style="font-size: 20px; line-height: 30px;">Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque odit, impedit autem quis et nihil quisquam dolorum unde est dolorem ipsam sint sit placeat voluptate temporibus debitis totam? Ab, sed! amet consectetur adipisicing elit. Veniam sapiente totam quae laudantium quasi expedita magnam sunt voluptate libero? Minus dolor, voluptatibus necessitatibus a nulla numquam eos corporis provident exercitationem.</p>
                </div>
          
        </div>
    </section>


    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>