<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" />
	<title>Reservas</title>
	<link rel="stylesheet" type="text/css" href="css/estilosf.css">
    </head>
	
	<div class="encabezado">
		<div id="iconorealplaza"><img src="picture/iconorealplaza.jpg"></div>
		<nav id="titulo">
			<h1>RESERVAS</h1>
		</nav>
	</div>

    <body>
	<header id="header">
		<div class="logotipo">
			<img src="picture/realplaza.jpg">
		</div>
				<a href="historialdeReserva.html"><img src="picture/botonhistorialdereserva.png"></a>
				<a href="asignarPlaca.html"><img src="picture/botonasignarplaca.png"></a>
				<a href="#"><img src="picture/botonacceder.png"></a>
	</header>
	<section class="main">
    </body>
</html>
