<head>
    <meta charset="UTF-8">
    <title>Barra de Navegacion</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="CSS/StyleSedesEditarUsuario.css">
</head>

<body>
    <!-- Inicio de Cabecera -->
    <header id="header">
        <div class="wrap">
            <div id="logo">
                <span class="gear"></span>
            </div>
            <nav id="menu">
                <ul>
                    <li><a href="#">RESERVAS</a></li>
                    <li><a href="#">NOSOTROS</a></li>
                    <li><a href="#">SEDES</a></li>
                    <li><a href="#"><img src="{% static 'picture/salir.jpeg' %}"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="wrap wrap-content">
        <section id="info">
            <!-- Inicio Banner -->
            <div id="banner">
                <h1>BIENVENIDO A REAL PLAZA</h1>
            </div> 
            <DIV>
                <h3 id=gonzalito>
                    Seleccione la sede donde va a realizar su visita y poder reservar
                </h3>
            </DIV>
            <div>  

            </div>
            <!-- Fin Banner -->
            <!-- Inicio Tarjetas -->
        <br>
            <div id="projects">
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://www.volcanperu.com/sites/gypsum.eeap.peru.com/files/styles/1120x/public/content/elements/slide/volcan031.jpg?itok=h25jmTnA" style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Real Plaza Villa Maria (VMT)</a>
                        <p>Av. Pachacútec intersection with, Av 26 de Noviembre sn, Villa María del Triunfo</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                    
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://www.limaeasy.com/media/reviews/photos/original/fb/a6/ac/real-plaza-primavera-lima-92-1614785896.jpg "  style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Real Plaza Primavera</a>
                        <p>Av. Angamos 2681, San Borja 15036      
                        <br>
                        <br>
                        </p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="img/PURUCHUCO-04.12.19.jpg"  style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Real Plaza Puruchuco</a>
                        <p>Av. Prol. Javier Prado Este 8680, Ate 15494</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://diariocorreo.pe/resizer/eUAxvSlXpozNyy7h4noEKA8wCnM=/560x315/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/A7PU7IIO4ZBT7OSZYV3EWEWJSA.jpg"  style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Real Plaza Centro Civico</a>
                        <p> Av. Inca Garcilaso de la Vega 1337, Cercado de Lima 15001</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://web.archive.org/web/20161029082328if_/http://static.panoramio.com/photos/large/100061684.jpg"  style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Real Plaza Pro</a>
                        <p>Av. Alfredo Mendiola 7042, Comas 15304</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/250x180"  style="height: 200px;"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Nombre proyecto</a>
                        <p>Sitio Web</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/250x180"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Nombre proyecto</a>
                        <p>Sitio Web</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
                <article class="project">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/250x180"/>
                    </div>
                    <div class="project-info">
                        <a href="#">Nombre proyecto</a>
                        <p>Sitio Web</p>
                        <br>
                            <div id="aforo">
                                <div id="circulo"><p id="numAforo">100/2000</p></div><h3 id="letraAf">Aforo actual</h3>
                            </div>
                    </div>
                </article>
            </div>
            <!-- Fin Tarjetas -->
        </section>

</body>
</html>